/* custom css goes here */
/*
handy for analysis
 {
    border: 2px dotted black;
}
*/

.table td, .table th {
  padding: .2rem;
}

.alert {
  padding: .2rem;
}

.btn {
  display: block;
  padding: .25rem;
}


p.bigger {
  font-size: 1.2rem;

}


/* if you want your primary buttons orange
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:disabled,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #ef4612;
    background-color: #ef4612;
    border-color: #ef4612;
}
*/

.loader {
  border: 16px solid  rgb(64,64,64) ;
  border-top: 16px solid rgb(0,123,255); /* bootstrap primary blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

