{% extends "base.html" %}
{% block title %}home{% endblock %}

{% block content %}
<div class="container">
  {% include "includes/wanavbar.html"  %}
  {% include "includes/flash.html"  %}

  <div id="topdiv"><!-- Dynamically loaded by the js --></div>

  {% include "includes/waloader.html" %}

  <div id="maindiv"><!-- Dynamically loaded by the js --></div>

<!-- pass some things things to js -->
<meta id="is_authenticated" data-value={{current_user.is_authenticated}} >
<meta id="is_account_admin" data-value={{g.is_wa_admin}}>

{% if current_user.is_authenticated %}
  {#
  Inside the ``content`` is where you should place most of your own stuff.
  This will keep scripts at the page end and a navbar you add on later
  intact.
  #}
  {% if g.is_wa_admin %}
  <div class='col-sm-2 p-1'>
    <a href="/utils" class='btn btn-primary'>GO TO ADMIN UTILS</a>
  </div>
  {% endif %}
  <div class='col-sm-2 p-1'>
    <a href="/events" class='btn btn-primary'>SHOW EVENTS</a>
  </div>
  <div class='col-sm-2 p-1'>
    <a href="/dump_events" class='btn btn-primary'>DUMP EVENTS</a>
  </div>


  {% else %}
  <div>
    <div class="row">
      <div class="col-sm-2">
        <btn id="auth_link" class='btn btn-primary'>LOG IN</btn>
      </div>
      <div class="col-sm-10"> <p>(Use your portal.nova-labs.org login/pw)</p>
    </div>
  </div>
{% endif %}
</div>
{%- endblock %}
