{% extends "base.html" %}
{% block title %}events{% endblock %}

{% block content %}
<div class="container">
  {% include "includes/wanavbar.html"  %}
  {% include "includes/flash.html"  %}

  <div id="topdiv"><!-- Dynamically loaded by the js --></div>

  {% include "includes/waloader.html" %}

  {% if g.wa_accounts_contact_me.IsAccountAdministrator %}
    <div id="maindiv"><!-- Dynamically loaded by the js --></div>
  {% else %}
    <h2>Sorry, You are not a Wild Apricot Account Admin</h2>
  {% endif %}
</div>
{%- endblock %}
