<div style="height:10px;"></div>
<div class="row border-bottom border-top">
  <div class="col-sm-1">
    <img height="64" src="/static/novalabs_icon.png">
  </div>
  <div class="col-sm-5">
    <h3>NOVA LABS</h3>
    <h3>Wild Apricot Utilities</h3>
  </div>
  <div class="col-sm-6">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="https://portal.nova-labs.org/">MAIN SITE</a>
      </li>
      <li class="nav-item">
        <span id="nav_logout"><a  class="nav-link" href="https://portal.nova-labs.org/sys/login/signout">LOGOUT</a> </span>
      </li>
    </ul>
  </div>

</div>



<div style="height:10px;"></div>
